customtkinter==5.2.2
tkintermapview==1.29
Pillow==10.4.0
setuptools==75.1.0
pymongo==4.10.1
python-dotenv==1.0.1
dnspython==2.6.1
tkcalendar==1.6.1
bcrypt==4.2.0
requests==2.32.3
tkinter-tooltip==3.1.0